# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51Sw539R4RrXCC45pfo3uZwlZjDgRpZTBsPhtx0S7ySdJQNqfX5dHYrLHGlBHoLUjeHSaXQe7ey0re7azjDJIOSan00OqxlXboO

# API Configuration  
VITE_API_BASE_URL=https://apidecor.kelolahrd.life
VITE_WHATSAPP_SERVICE_URL=http://localhost:4000
VITE_WHATSAPP_VERIFY_TARGET=6282261402001

# Google OAuth
VITE_GOOGLE_CLIENT_ID=361936469399-j072gd6qjrq4i4ijkai2qi37phb3tc4v.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID_WEB=361936469399-j072gd6qjrq4i4ijkai2qi37phb3tc4v.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID_ANDROID=361936469399-j072gd6qjrq4i4ijkai2qi37phb3tc4v.apps.googleusercontent.com
